---
import { defaultLanguage, type Language } from "@/i18n/ui"
import Layout from "@/layouts/Layout.astro"
import Nav from "@/components/Nav"

const language = (Astro.currentLocale ?? defaultLanguage) as Language
---

<Layout title="Home">
    <Nav lang={language} client:load />
    <main class="max-w-screen-xl m-auto px-8">
        <h1>HIII</h1>
    </main>
</Layout>
